# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# env
.env

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# JetBrains
idea/

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/migrations/

# misc
package-lock.json

